html, body {
	background: #eee;
	color: #222;
	line-height: 1.2;
	font-family: "Segoe UI", "Roboto", "Tahoma", "Geneva", "Verdana", sans-serif;
	padding: 0;
	margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
}


h1 {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

nav{
	background: #333;
    height: 48px;
    flex: 1 100%;
}

nav > h1{
	margin: 0;
	padding: 10px;
	color: #eee;
	display: inline-block;
}

nav > a{
    float: right;
    line-height: 48px;
    background: #404040;
    color: #eee;
    text-decoration: none;
    padding: 0 10px;
}

nav > a:hover{
    background: #5e5e5e;
}

button {
	font-size: 1.2em;
	margin-top: 10px;
	background: rgb(7, 126, 17);
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.108), 0 1.6px 3.6px rgba(0, 0, 0, 0.132);
	transition: 0.2s ease background, 0.2s ease transform;
	outline: none !important;
	position: relative;
}

button:hover {
	transform: translateY(-2px);
	box-shadow: 0px 2px 20px 0px rgba(114, 196, 89, 0.432);
}

button:active {
	background: rgb(7, 83, 14);
	transform: translateY(1px);
	box-shadow: inset 2px 2px 10px 0px rgba(25, 26, 25, 0.253);
}

.whiteBlock {
	background: #fefefe;
	box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.108), 0 1.6px 3.6px rgba(0, 0, 0, 0.132);
}

section {
	padding: 10px;
	border-radius: 3px;
	margin: 10px;
    flex-grow: 0.3;
}

label {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}

label>input {
	display: block;
	border-radius: 4px;
	border: 1px solid rgb(141, 141, 141);
	padding: 5px;
	font-size: 1em;
	padding-top: 15px;
	outline: none;
}

label>input:focus~span.desc, 
label>input:not(:focus):valid~span.desc {
	background: #fff;
	top: -6px;
	left: 10px;
	font-size: 11px;
	opacity: 1;
}

label>span {
	color: #333;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 25%;
	transition: 0.2s ease all;
	z-index: 999;
}

table, tr, td{
	border-collapse: collapse;
	border: 1px solid #444;
}

td{
	padding: 4px;
}

tr > td:nth-of-type(1){
	background: #333;
	color: #eee;
	text-align: right;
	font-weight: 600;
}

meter{
    width: 175%;
}


@media screen and (max-width: 768px) {
	section{width: 100%;}
}